/* Estrellas flotando */
.stars-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url('/assets/star2.png') repeat;
  /* Puedes poner una imagen peque帽ita de estrella */
  background-size: 50px 50px;
  z-index: 0;
  opacity: 0.3;
  animation: moveStars 60s linear infinite;
  pointer-events: none;
  /* Para que no interfiera con los botones */
}

@keyframes moveStars {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 500px 500px;
  }
}

ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInLanding 1s ease forwards;
  /*  ya incluido aqu铆 */
}

.content {
  text-align: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.img {
  height: 30%;
  max-height: 300px;
  width: 100%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-weight: 800;
  color: var(--ion-color-primary);
}

.center-content ion-button {
  width: 80%;
  max-width: 500px;
  margin: 1em 1em;
  font-weight: bold;
  animation: bounceIn 0.9s ease forwards;
  /*  Rebotar bot贸n */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rebote inicial del bot贸n */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.1);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* Vibraci贸n suave solo al icono derecho */
.center-content ion-button ion-icon[slot="end"] {
  animation: vibrate 1.5s infinite ease-in-out 2s;
  /*  Empieza despu茅s de 2s, luego infinita */
}

/* Animaci贸n de vibrar (leve) */
@keyframes vibrate {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(-2px);
  }

  75% {
    transform: translateX(2px);
  }
}


ion-footer {
  p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
  }
}

@keyframes fadeInLanding {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  animation: fadeOutLanding 0.5s ease forwards;
}

@keyframes fadeOutLanding {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}